
 .page-header {
    width:100%;
    text-align:center; 
    position: relative;
 }
 
 .page-header h3 {
    position:relative; 
    padding:10px; 
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 1rem;
    color:#ffff;
    background: #02B875;
    display: inline-block;
    z-index: 1;
 }
 
 .page-header::after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background: #02B875;
    z-index:0;
 }
 .card-header {
     text-align: center;
     font-size: 19px;
 }

 .card-body .form-control {
     text-align: center
 }
